body {
    margin:0px 0px 1px 0px;
    background: linear-gradient(270deg, #73caff, #429CD3);
    background-size: 400% 400%;
    -webkit-animation: BgGradient 5s ease infinite;
    -moz-animation: BgGradient 5s ease infinite;
    animation: BgGradient 5s ease infinite;
}
header{
    padding: 0;
    margin: 0;
}
p {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 30px;
    background: #000;
    color: #ffeeff;
    font-size: 30px;
    text-align: left;
    display: inline-block;
}
div {
    width: 100%;
    margin: 0;
    padding: 0;
}
#navbar {
    background-color: #333;
    position: fixed;
    top: 0; 
    width: 100%;
    transition: top 0.3s;
}
#fileupload-container {

    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    text-align: center;
    vertical-align:middle; 
    display:table-cell;
}
#fileupload{
    display: inline-block;
    border: 5px;
}
.bgpng{
    background: url("./designFile/mainbg.png");
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 60px;
}
@-webkit-keyframes BgGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes BgGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes BgGradient { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}